# Configurações de Identidade & Auth (PostgreSQL 16)
VORTEX_AUTH_DB_NAME=vortexbank_auth
VORTEX_AUTH_DB_USER=vortexbank_user
VORTEX_AUTH_DB_PASS=sua_senha_segura_auth_aqui

# Configurações de Transações & Ledger (PostgreSQL 16)
VORTEX_TRANS_DB_NAME=vortexbank_trans
VORTEX_TRANS_DB_USER=vortexbank_user
VORTEX_TRANS_DB_PASS=sua_senha_segura_trans_aqui

# Cache em Memória & Concorrência (Redis 7)
VORTEX_REDIS_PASS=sua_senha_segura_redis_aqui
